<app-spinner *ngIf="showSpinner"></app-spinner>
<app-no-result-widget
  *ngIf="showError"
  errorMessage="Please try again later"
></app-no-result-widget>

<button routerLink="/countries" *ngIf="!showSpinner">
  <i class="fa fa-long-arrow-left" style="font-size: 24px"></i>
  <span>Back</span>
</button>
<div *ngFor="let country of countryInfo" class="box">
  <div class="country-info-container">
    <div
      class="country-flag"
      [ngStyle]="{ 'background-image': 'url(' + country.flag + ')' }"
    ></div>
    <div class="country-info-item">
      <h2>{{ country.name }}</h2>
      <div class="box-details">
        <div class="col-1">
          <app-details
            detailsName="Native name:"
            [detailsValue]="country.nativeName"
          ></app-details>
          <app-details
            detailsName="Population"
            [detailsValue]="country.population | number"
          ></app-details>
          <app-details
            detailsName="Region"
            [detailsValue]="country.region"
          ></app-details>
          <app-details
            detailsName="Sub Region:"
            [detailsValue]="country.subregion"
          ></app-details>
          <app-details
            detailsName="Capital"
            [detailsValue]="country.capital"
          ></app-details>
        </div>
        <div class="col-2">
          <app-details
            detailsName="Top Level Domain:"
            [detailsValue]="country.topLevelDomain"
          ></app-details>
          <div class="country-details">
            <p>Currencies:</p>
            <span *ngFor="let currency of country.currencies">{{
              currency.name
            }}</span>
          </div>
          <div class="country-details">
            <p>Languages:</p>
            <span *ngFor="let language of country.languages">{{
              language.name
            }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
