<div class="signin-container">
  <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
    <div class="input-field">
      <label>E-mail:</label>
      <input
        type="text"
        formControlName="email"
        placeholder="Enter your email"
      />
      <div
        *ngIf="
          myForm.controls.email.hasError('required') &&
          myForm.controls.email.touched
        "
        class="alert"
      >
        *Oops, Email is required
      </div>
      <div *ngIf="myForm.controls.email.hasError('pattern')" class="alert">
        *Oops,Your Email is not correct
      </div>
    </div>
    <div class="input-field">
      <label>Password:</label>
      <input
        type="password"
        formControlName="password"
        placeholder="Your Password"
      />
      <div
        *ngIf="
          myForm.controls.password.hasError('required') &&
          myForm.controls.password.touched
        "
        class="alert"
      >
        *Oops, Your password is required
      </div>
      <div *ngIf="myForm.controls.password.hasError('minlength')" class="alert">
        *Oops, your password is too short
      </div>
      <div *ngIf="myForm.controls.password.hasError('pattern')" class="alert">
        *Oops, Your password must contain at least 1 alphabetical character and
        1 numeric character
      </div>
    </div>
    <button
      routerLink="/countries"
      type="submit"
      [disabled]="myForm.invalid"
      [ngClass]="{ 'not-available': myForm.invalid }"
    >
      Sign In
    </button>
  </form>
</div>
