.signin-container {
  background-color: hsl(0, 0, 98%);
  width: 100%;
  height: 89vh;
  padding: 4%;
  form {
    width: 50%;
    min-height: 75vh;
    margin: auto;
    padding: 4%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 2px 3px #d3d3d3;
    .input-field {
      width: 80%;
      display: flex;
      flex-direction: column;
      padding: 4% 0;
      label {
        margin-bottom: 5px;
        font-weight: 500;
        font-size: 14px;
      }
      input {
        background-color: hsl(0, 0, 98%);
        border: none;
        outline: none;
        padding: 4%;
      }
    }
    button {
      padding: 3%;
      width: 40%;
      border: none;
      outline: none;
      background-color: hsl(0, 0, 98%);
      box-shadow: 0px 3px lightgray;
      cursor: pointer;
      font-size: 16px;
      text-transform: uppercase;
      font-weight: 600;
    }
    a {
      text-decoration: none;
      color: inherit;
    }
  }
}
.not-available {
  cursor: not-allowed !important;
}

.alert {
  font-size: 10px;
  color: red;
  margin-left: 8px;
  margin-top: 4px;
  padding: 5px;
}
