<div class="container">
  <form
    class="search-form"
    (submit)="$event.preventDefault()"
    [formGroup]="searchForm"
  >

    <!--/ Create self-contained component for this element and to be sharable cross over all the featured modules -->
    <div class="widget-container">
      <input
        type="text"
        placeholder="search for a country..."
        value=""
        #search
        formControlName="searchForCountryByName"
      />

      <div *ngIf="search.value && !showError" class="widget">
        <p *ngFor="let country of widgetCountries">{{ country.name }}</p>
      </div>
    </div>

    <mat-form-field appearance="fill">
      <mat-label>Filter By Region</mat-label>
      <mat-select value="" (selectionChange)="selectRegion($event.value)">
        <mat-option value="africa">Africa</mat-option>
        <mat-option value="americas">America</mat-option>
        <mat-option value="asia">Asia</mat-option>
        <mat-option value="europe">Europe</mat-option>
        <mat-option value="oceania">Oceania</mat-option>
      </mat-select>
    </mat-form-field>
  </form>


  <app-spinner *ngIf="showSpinner"></app-spinner>
  
  
  <!--  -->
  <div class="error-message" *ngIf="showError; else countriesCard">
    <p>Something bad happened, please try Search For a Valid Country.</p>
  </div>


  <ng-template #countriesCard>
    <ul class="countries-container" *ngIf="!showSpinner">
      <app-country
        *ngFor="let country of countries"
        [countryDetails]="country"
      ></app-country>
    </ul>
  </ng-template>
</div>
