<div class="container">
  <form
    class="search-form"
    (submit)="$event.preventDefault()"
    [formGroup]="searchForm"
  >
    <!--/ Create self-contained component for this element and to be sharable cross over all the featured modules -->

    <input
      type="text"
      placeholder="search for a country..."
      value=""
      #search
      formControlName="searchForCountryByName"
    />

    <mat-form-field appearance="fill">
      <mat-label>Filter By Region</mat-label>
      <mat-select value="" (selectionChange)="selectRegion($event.value)">
        <mat-option value="africa">Africa</mat-option>
        <mat-option value="americas">America</mat-option>
        <mat-option value="asia">Asia</mat-option>
        <mat-option value="europe">Europe</mat-option>
        <mat-option value="oceania">Oceania</mat-option>
      </mat-select>
    </mat-form-field>
  </form>

  <app-spinner *ngIf="spinner$"></app-spinner>

  <!--<app-no-result-widget
    errorMessage="Please try, Search For a Valid Country Name"
    *ngIf="showCountryError"
  >
  </app-no-result-widget>-->
  <app-no-result-widget
    errorMessage="Please try, A Valid Region"
    *ngIf="regionError$"
  >
  </app-no-result-widget>

  <ul
    class="countries-container"
    *ngIf="!spinner$ && !regionError$  "
  >
    <app-country
      *ngFor="let country of countries$"
      [countryDetails]="country"
    ></app-country>
  </ul>
</div>
