<li [routerLink]="[countryDetails.name]">
  <div
    class="flag"
    [ngStyle]="{ 'background-image': 'url(' + countryDetails.flag + ')' }"
  ></div>
  <h2>{{ countryDetails.name }}</h2>
  <app-details
    detailsName="Population"
    [detailsValue]="countryDetails.population | number"
  ></app-details>
  <app-details
    detailsName="Region"
    [detailsValue]="countryDetails.region"
  ></app-details>
  <app-details
    detailsName="Capital"
    [detailsValue]="countryDetails.capital"
  ></app-details>
</li>
