<div class="container">
  <form class="search-form" (submit)="$event.preventDefault()">
    <input
      type="text"
      placeholder="search for a country..."
      value=""
      (change)="selectCountry($event.target.value)"
    />
    <mat-form-field appearance="fill">
      <mat-label>Filter By Region</mat-label>
      <mat-select value="" (selectionChange)="selectRegion($event.value)">
        <mat-option value="africa">Africa</mat-option>
        <mat-option value="americas">America</mat-option>
        <mat-option value="asia">Asia</mat-option>
        <mat-option value="europe">Europe</mat-option>
        <mat-option value="oceania">Oceania</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
  <ul class="countries-container">
    <app-country
      *ngFor="let country of countries"
      [countryDetails]="country"
    ></app-country>
  </ul>
</div>
