.snack-bar-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.snack-bar-message{
color: orangered;
font: 14px;
}

.snack-bar-action {
    border: none;
    outline: none;
    color: royalblue;
    background-color: inherit;
    cursor: pointer;
}